.footer {
    display: flex;
    align-items: center;
    justify-content: stretch;
    min-height: var(--footer-heigth);
    background: $gray-500;

    font-size: 13px;
    line-height: 15.6px;
    color: $whiteColor;
    padding: 20px 0;

    @include mediaMax($lg) {
        min-height: auto;
    }

    .container {
        width: 100%;

        @include mediaMax($lg) {
            height: 100%;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        gap: 38px;

        @include mediaMax($lg) {
            flex-direction: column;
            gap: 26px;
        }
    }

    &__copy {
        @include mediaMax($lg){
            text-align: center;
        }
    }
}

.footer-item {
    &:not(:last-child) {
        padding-right: 38px;
        position: relative;

        @include mediaMax($lg) {
            padding: 0 0 20px 0;
        }

        &::after {
            content: "";

            position: absolute;
            top: 50%;
            right: 0;

            transform: translateY(-50%);

            width: 1px;
            height: 18px;

            background-color: $gray-100;
        }

        @include mediaMax($lg) {
            &::after {
                width: 100px;
                height: 1px;

                top: auto;
                right: 50%;
                bottom: 0;

                transform: translateX(50%);
            }
        }
    }
}

.footer-list-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    &__icon {
        display: inline-block;

        width: 20px;
        height: 20px;

        color: $accent;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;

        text-decoration: none;

        color: $whiteColor;
    }
}

.payment-systems {
    display: flex;
    gap: 38px;

    @include mediaMax($xxl) {
        gap: 20px;
    }

    @include mediaMax($xl) {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.contacts-list {
    display: flex;
    gap: 38px;

    @include mediaMax($lg) {
        flex-wrap: wrap;
        gap: 20px;
    }
}
