%custom-scroll-y {
    @media (pointer: fine) {
        &::-webkit-scrollbar {
            width: 7px;
        }

        &::-webkit-scrollbar-track {
            background: $gray-200;
        }

        &::-webkit-scrollbar-thumb {
            background: $accent;

            border-radius: 4px;
            height: 50px;
        }
    }
}

%no-wrap {
    text-wrap: nowrap;
    white-space: nowrap;
    overflow-wrap: normal;
}
