// VARIABLES

//fonts
$mainFont: "Lato", sans-serif;
$fontSize: 16px;
$lineheight: 1.1;

//colors
$accent:  #3E9CDC;
$placeholder: #272733;
$textColor: #bbb;
$blackColor: #000000;
$whiteColor: #ffffff;
$gray-100: #c3c3c3;
$gray-200: #bbbbbb;
$gray-500: #3D4050;
$gray-700: #2A2B30;
$gray-800: #10101D;



// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1202;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

//Breakpoints
$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

//mobile-first
$xsm: 479.98px;
$smm: 575.98px;
$mdm: 767.98px;
$lgm: 991.98px;
$xlm: 1199.98px;
$xxlm: 1399.98px;
